<!-- adding-password-window.component.html -->
<div class="modal fade" tabindex="-1" aria-labelledby="addPasswordModalLabel" aria-hidden="true" id="addPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPasswordModalLabel">Add Password</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <!-- Your form to add password -->
        <form (submit)="addPassword()">
          <!-- Form fields -->
          
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
