.password-item-container {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: blue;
  width: 80%;
}

.password-field {
  margin-right: 15px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

  .password-field label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .password-field span {
    background-color: #e9ecef;
    padding: 5px;
    border-radius: 4px;
  }

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

  .actions .btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .actions .edit {
    background-color: #ffc107;
    color: white;
  }

  .actions .delete {
    background-color: #dc3545;
    color: white;
  }
