<div class="password-item-container container-fluid">
  <div class="password-field">
    <span>{{ password.id }}</span>
  </div>
  <div class="password-field">
    <span>{{ password.name }}</span>
  </div>
  <div class="password-field">
    <span>{{ password.password }}</span>
  </div>
  <div class="password-field">
    <span>{{ password.creationTime | date: 'short' }}</span>
  </div>
  <div class="password-field">
    <span>{{ password.typePassword }}</span>
  </div>
  <div class="actions">
    <button class="btn edit">Edit</button>
    <button class="btn delete">Delete</button>
  </div>
</div>
